################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Net5Demo/obj
/Net5Demo/bin/Debug/netcoreapp3.1
